attrs==20.3.0
bson==0.5.10
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
gevent==21.1.2
greenlet==1.0.0
idna==2.10
iniconfig==1.1.1
Jinja2==2.11.3
MarkupSafe==1.1.1
msgpack-python==0.5.6
mysql-connector-python==8.0.24
packaging==20.9
pluggy==0.13.1
protobuf==3.15.8
py==1.10.0
py-bbclib==1.6.1
pycparser==2.20
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
requests==2.25.1
six==1.15.0
toml==0.10.2
urllib3==1.26.4
zope.event==4.5.0
zope.interface==5.4.0
